h1{
    color:#640E0F;
<<<<<<< Updated upstream
    margin:0;
    padding:0;
    display: flex;
    min-height:100vh;
}
=======
}
body{
    margin:0;
    padding:0;
    display: flex;
    justify-content:center;
    min-height:100vh;
}
>>>>>>> Stashed changes
